<div id="page_area" class="blue-grey lighten-5">
<div class="nav-wrapper blue-grey darken-1">
      <div class="col s12  valign-wrapper-">
        <a href="#!" class="breadcrumb">Home</a>
       <%= link_to pages_path, class: "breadcrumb" do %>Strony<% end %>
        <a href="#!" class="breadcrumb">Nowa strona</a>
      </div>
    </div>
<div class="row valign-wrapper">
	<div class="col s12 m6 left">
		<h1>Nowa strona</h1>        
	</div>
	<div class="col s12 m6">
		<%= link_to new_page_path(@page), class: 'btn btn-large right' do %>
			<i class="material-icons left">save</i> Zapisz
		<% end %>
	</div>

	


</div>


	<div class="row white">
		<div class="page_section">Wygląd w wyszukiwarce</div>
		<div class="input-field row col s4">
			<div class="title">Nowa strona
				<% text_field_tag 'name', params[nil], class: 'title character_counter', data: {length: '60'} %>
			</div>
			<br><div class="url">
			<span>
				<%= root_url.to_s %>nowa-strona
				<% text_field_tag 'name2', params[nil], class: 'url' %></span>
			</div>
			<div class="description">
			Opis strony to jest sobie taki opis
			</div>
		</div>

		

	   
</div>
<div class="page_section">Treść</div>




<div class="site-wrapper">

  <section class="topbar">
    <article class="brand">
      Treść
    </article>

    <div class="navbar-right">  
        <ul class="device-chooser">
          <li class="device-size"></li>
        </ul>
      </article>
    </div>
  </section>

  <section class="content">
    <article>
      <div class="device-wrapper">
        <div id="screen" style="overflow-y: auto;">
        	<% unless @page.rows.any? %>
			  <div id="need_rows" class="center-align blue-grey lighten-3">
			  		&nbsp;
			  		<h3>Nie masz jeszcze żadnego wiersza na stronie.</h3> <h5>Wiersze ułatwiają układanie treści.</h5><br>
			  		<%= link_to page_rows_path(@page.id), method: :post, id: "new_link", class: "btn-floating btn-large waves-effect waves-light blue-grey darken-4 pulse", remote: true do %>
			  		<i class="material-icons white-text">add</i>

			  		<% end %><br>&nbsp;
			  		
				  		<div class="header grey darken-1 white-text add_row" style="padding:10px; width:90%; margin: 0 auto;  ">
						<i class="material-icons white-text left">add</i> Dodaj pierwszy wiersz
						</div>
					

			  </div>
			<% end %>

		  	<div id="rows_area" class="area grey lighten-3 ">
			<%= render @page.rows %>



			</div>

			<% if @page.rows.any? %>  
			   <div id="add_rows" class="center-align blue-grey- lighten-3-">
				<%= link_to page_rows_path(@page.id), method: :post, remote: true, id: "new_link", class: "btn-floating btn-large waves-effect waves-light blue-grey darken-4" do %>
			  		<i class="material-icons white-text">add</i>

			  		<% end %>
			  	</div>
			  	<div class="header grey- darken-1- white-text add_row" style="padding:10px; width:90%; margin: 0 auto;  ">
						<i class="material-icons white-text left">add</i> Dodaj pierwszy wiersz
						</div>
			<% end %>
        </div>
      </div>
    </article>
  </section>


</div>






