<div class="nav-wrapper ">
      <div class="col s12 grey-text grey valign-wrapper-">
        <a href="#!" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Strony</a>
      </div>
</div>
<div class="row valign-wrapper">
	<div class="col s12 m6 left">
		<h1>Strony</h1>        
	</div>
	<div class="col s12 m6">
		<%= link_to(pages_path, method: :post, class: 'btn btn-large right') do %>
			<i class="material-icons left">add</i> Dodaj stronę
		<% end %>
	</div>
</div>

<div class="row">
	<% @pages.each do |page| %>
		<%= page.id %><br>
	<% end %>

</div>
