<div class="nav-wrapper blue-grey darken-1">
      <div class="col s12  valign-wrapper-">
        <a href="#!" class="breadcrumb">Home</a>
       <%= link_to pages_path, class: "breadcrumb" do %>Strony<% end %>
        <a href="#!" class="breadcrumb">Nowa strona</a>
      </div>
    </div>
<div class="row valign-wrapper">
	<div class="col s12 m6 left">
		<h1>Nowa strona</h1>        
	</div>
	<div class="col s12 m6">
		<%= link_to new_page_path(@page), class: 'btn btn-large right' do %>
			<i class="material-icons left">save</i> Zapisz
		<% end %>
	</div>

	


</div>
	<div class="row">
		<div class="input-field row col s4">
			<div class="">
				<%= text_field_tag 'name', params[nil], class: 'title character_counter', data: {length: '60'} %>
			</div>
			<div class="url">
			<span><% root_url.to_s %>
				<%= root_url.to_s %>
				<%= text_field_tag 'name2', params[nil], class: 'url' %></span>
			</div>
			<div class="description">
			Opis strony to jest sobie taki opis
			</div>
		</div>

		<div class="row">
	      <form class="col s12">
	        <div class="row">
	          <div class="input-field col s6">
	            <input id="input_text" class="character_counter title" type="text" data-length="10">
	            <label for="input_text">Input text</label>
	          </div>
	        </div>
	        <div class="row">
	          <div class="input-field col s12">
	            <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
	            <label for="textarea2">Textarea</label>
	          </div>
	        </div>
	      </form>
	    </div>

	    <a class="btn tooltipped" data-position="bottom" data-tooltip="I am a tooltip">Hover me!</a>
	</div>