/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color-variables";
$primary-color: color("red", "base") !default;
$secondary-color: color("blue-grey", "darken-2") !default;

@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

h1 {
	margin:0;
}

.area {
	margin: 0 auto;
	width:90%;
}

.page_section {
	//
	padding: 5px;
	font-size:1.5em;
	@extend .blue-grey, .lighten-4;
}


.material-icons.small{
	font-size:20px;
}

.add_row {

	border: 1px dashed #757575;
	transition: all 100ms;

	&:hover { border: 1px solid #757575;
		transition: all 100ms;}
}