// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	color: rgb(26, 13, 171);
cursor: pointer;
display: inline-block;
font-family: arial,sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
height:auto !important;
margin:0 !important;
border:none !important;
display: inline !important;

}

.url {
color: rgb(0, 102, 33) !important;
cursor: pointer;
font-family: arial,sans-serif;
font-size: 14px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 16.8px !important;
margin-top: 2px !important;
padding-top: 3px !important;
height:auto !important;
margin:0 !important;
border:none !important;
display: inline !important;
}

.description {
	color: rgb(84, 84, 84);
font-family: arial,sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 18.2px;
overflow-wrap: break-word;
}

.character-counter {
	display: none;

}

* {
  box-sizing: border-box;
}

html,
body {
  //min-height: 100vh;
  //font-family: Roboto;
  //font-weight: 300;
}

.active {
	  	color: white !important;
	      background: rgba(0,0,0,.25) !important;
	      outline: none !important;
	  }

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: radial-gradient( farthest-side ellipse, rgba(255,255,255,0.95), #aaa);
}

.topbar {
  //padding: 8px;
  background: #333;
  box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.25);

  article,
  input {
    display: inline-block;
    vertical-align: top;
  }
  
  button {
    vertical-align: top;
    border: none;
    background: transparent;
    color: #aaa;
    transition: all 0.125s;
    padding: 12px 12px 8px;
    //margin-right: 4px;
    line-height: 24px;
    font-weight: 500;
    
    .material-icons {
      font-size: 24px;
      line-height: 1;
    }

    

	   &:hover,
	    &:focus{
	      color: white;
	      background: rgba(0,0,0,.25);
	      outline: none;
	   }

	  
	
    
    
   
  }



  .navbar-right {
    float: right; 
  }
  
  .url-bar {
    height: 48px;
    margin-right: 8px;
    background-color: #eee;
    border-radius: 3px;
    
    button {
      margin-right: 0;
    }
  }
}

#screen {

	input,
	select {
	  color: #888;
	  border: none;
	  transition: all 0.25s;
	  background: transparent;
	}

	input {
	  padding: 0 8px;    
	  font-size: 18px;
	  font-weight: 500;
	  line-height: 48px;

	  .active- {
	    color: #333;
	    background: white;
	    outline: none;
	  }
	}

	select {
	  font-size: 18px;
	  padding: 14px 0;

	  .active- {
	    color: white;
	    outline: none;
	  }
	  
	  option {
	    background: transparent;
	  }
	}

}

.device-chooser {
  margin: 0;
  padding-left: 0;
  
  li {
    display: inline-block;
    vertical-align: top;
  }
  
  .device-size {
    min-width: 7em;
    padding: 0 8px;    
    text-align: right;
    font-size: 18px;
    line-height: 48px;
    color: #aaa;
  }
}

.bottombar {
  padding: 1em;
  text-align: center;
}

.brand {
  padding: 0 8px;
  color: #ccc;
  font-size: 1.5rem;
  line-height: 48px;
  
  a {
    display: block;
    color: #aaa;
    text-decoration: none;
    
    &:hover {
      color: white;
    }
    
    .material-icons {
      position: relative;
      top: 4px;
    }
  }
}

// CONTENT

.content {
  flex: 1;
  position: relative;
  
  article {
    padding: 2em;    // TODO : vert center
    text-align: center;
    
    .device-wrapper {
      display: inline-block;
      position: relative;
      padding: 2em;    // TODO : device borders
      padding-bottom: 4em;
      background-color: #333;
      border-radius: 1em;
      
      box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.25);
      
      &:before {
        content: "";
        position: absolute;
        bottom: 1.25em;
        left: 50%;
        margin-left: -1em;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background: rgba(0,0,0,0.25);
      }
      
      &:after {
        position: absolute;
        display: block;
        display: none;
        content: "";
        left: 2em;
        right: 2em;
        top: 2em;
        bottom: 4em;
        background: rgba(255,255,255,0.25);
        z-index: 1000;
      }
      
    }
  }
  
  &.content--maximized {
    
    article {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;

      .device-wrapper {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0;
        box-shadow: none;

        &:before {
          display: none;
        }
        
        #screen {
          position: absolute;
          display: block;
          min-width: 100%; // Hacky wacky ?!
          width: 100%;
          height: 100% !important; // Gasp...
          top: 0;
          bottom: 0;

          top: 0;
          bottom: 0;
        }
      }
    }
  }
    
}

#screen {
  border: none;
  background: #ddd;
  transition: all 0.5s ease-in-out;

  
}

