// Place all the styles related to the rows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_row {
	@extend .grey, .lighten-3;
	border: 1px dashed #757575;
	transition: all 100ms;

	&:hover { border: 1px solid #757575;
		transition: all 100ms;}
}