<div class="hoverable" id="row_<%=row.id%>" style="margin-bottom:10px;" > 
	<div class="header grey darken-1 white-text" style="padding:10px; ">
		Wiersz <%= row.id %>
		<div class="left" style="overwflow:hidden; line-height:15px;">
			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text" style="cursor:grab;">drag_handle</i>
			<% end %>|

			<%= link_to toggle_all_devices_row_path(row), class: "", remote: true do %>
				<i class="material-icons small <%=row.hide_all_devices_icon%>">phonelink</i>
			<% end %>
			
			<%= link_to toggle_mobile_row_path(row), class: "", remote: true do %>
				<i class="material-icons small <%=row.hide_mobile_icon%>">phone_iphone</i>
			<% end %>
			<%= link_to toggle_tablet_row_path(row), class: "", remote: true do %>
				<i class="material-icons small <%=row.hide_tablet_icon%>">tablet_mac</i>
			<% end %>
			<%= link_to toggle_laptop_row_path(row), class: "", remote: true do %>
				<i class="material-icons small <%=row.hide_laptop_icon%>">laptop_mac</i>
			<% end %>
			<%= link_to toggle_desktop_row_path(row), class: "", remote: true do %>
				<i class="material-icons small <%=row.hide_desktop_icon%>">desktop_windows</i>
			<% end %>|
			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">lens</i>
			<% end %>
			

			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">format_color_text</i>
			<% end %>|
			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">vertical_align_center</i>
			<% end %>
			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">format_align_left</i>
			<% end %>

	
		</div>

		<div class="right" style="overwflow:hidden; line-height:15px;">
			

			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">settings</i>
			<% end %>

			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">view_agenda</i>
			<% end %>

			<%= link_to '#', class: "", remote: true do %>
				<i class="material-icons small white-text">delete</i>
			<% end %>
			<br>
	    </div>
	</div>
	<div class="content white row <%=row.html_class%>">
		<div class="blue col s12"><%= row.html_class %></div>
	</div>
</div>

