//rwdscreen();
//alert('hello');
//$('#need_rows').hide('slow');
//$('#page').find('#page_area').remove()
//$('#page_area').replaceWith('<%= j render @row.page %>');
//$('#rows_area').append('<%= j render @row %>')
//$('#row_<=@row.id%>').replaceWith('<%= j render @row %>');
$('#row_<%=@row.id%>').replaceWith('<%= j render @row %>');
//$('#row_<%=@row.id%>').append('HELLO WORLD')
//rwdscreen();